{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row card-deck">
            <div class="card">
                <div class="card-header">Channels</div>
                <div class="card-body">
                    <canvas id="channel-chart"></canvas>
                </div>
                <div class="card-text">
                    <a href="{{ path('channels_index') }}" class="btn btn-link">Details</a>
                    <a href="#new_channel_modal" data-toggle="modal" class="btn btn-link">New Channel</a>
                </div>
            </div>
            <div class="card">
                <div class="card-header">Wallet</div>
                <table class="table card-body" style="table-layout: fixed; width: 100%;">
                    <tbody>
                    <tr>
                        <td>Confirmed</td>
                        <td style="text-align: right;">{{ wallet.confirmedBalance|satoshiToLocal }}
                            <small>{{ localCurrency() }}</small>
                        </td>
                    </tr>
                    <tr>
                        <td>Unconfirmed</td>
                        <td style="text-align: right;">{{ wallet.unconfirmedBalance|satoshiToLocal }}
                            <small>{{ localCurrency() }}</small>
                        </td>
                    </tr>
                    <tr>
                        <td>In Channels:</td>
                        <td style="text-align: right;">{{ channelBalance|satoshiToLocal }}
                            <small>{{ localCurrency() }}</small>
                        </td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td style="text-align: right;">{{ (wallet.totalBalance + channelBalance)|satoshiToMilliBtc }}
                            <small>{{ localCurrency() }}</small>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="card-text">
                    <a href="#withdraw_modal" data-toggle="modal" class="btn btn-link">Widthdraw</a>
                    <a href="#deposit_modal" data-toggle="modal" class="btn btn-link">Deposit</a>
                    <a href="{{ path('transactions_index') }}" class="btn btn-link">Transactions</a>
                </div>
            </div>
        </div>

        <hr>

        <div class="card">
            <div class="card-header">Pending Invoices</div>
            <table class="table" style="table-layout: fixed; width: 100%;">
                <tbody>
                {% for invoice in pendingInvoices %}
                    <tr>
                        <td>{{ invoice.creationDate|date("d.m.Y H:i") }}</td>
                        <td>
                            {{ invoice.value|satoshiToLocal }} <small>{{ localCurrency() }}</small>
                        </td>
                        <td>{{ invoice.memo }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        new Chart(document.getElementById("channel-chart"), {
            "type": "bar",
            "data": {
                "labels": {{ channelDatasets.labels|json_encode|raw }},
                "datasets": [{
                    "label": "Local Balance",
                    "data": {{ channelDatasets.local|json_encode|raw }},
                    "fill": false,
                    "backgroundColor": {{ channelDatasets.local_background|json_encode|raw }},
                    "borderColor": {{ channelDatasets.local_border|json_encode|raw }},
                    "borderWidth": 1
                },
                    {
                        "label": "Remote Balance",
                        "data": {{ channelDatasets.remote|json_encode|raw }},
                        "fill": false,
                        "backgroundColor": {{ channelDatasets.remote_background|json_encode|raw }},
                        "borderColor": {{ channelDatasets.remote_border|json_encode|raw }},
                        "borderWidth": 1
                    }
                ]
            },
            "options": {
                "maintainAspectRatio": false,
                "scales": {
                    "yAxes": [{
                        "ticks": {
                            "beginAtZero": true,
                            "callback": function (value) {
                                return value.toLocaleString("en-US", "latn", {
                                    "style": "decimal",
                                }) + " {{ localCurrency() }}";
                            }
                        },
                        "stacked": true
                    }],
                    "xAxes": [{
                        "stacked": true
                    }]
                }
            }
        });
    </script>
{% endblock %}

{% block modals %}
    <div class="modal fade" id="deposit_modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Deposit funds</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <input id="deposit_address" type="text" placeholder="Wallet Address" class="form-control" value="{{ newAddress }}">
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary"
                                    data-container="body"
                                    data-toggle="popover"
                                    data-placement="top"
                                    data-content="Copied!"
                                    onclick="document.getElementById('deposit_address').select(); document.execCommand('copy');">Copy</button>
                        </div>
                    </div>
                </div>
                <div class="modal-body text-center">
                    <img class="img-fluid" src="{{ qrcode_data_uri(newAddress) }}">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="withdraw_modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Withdraw funds</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form(withdrawForm) }}
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="new_channel_modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Withdraw funds</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form(newChannelForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}