<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}LightningSale{% endblock %}</title>
        <link href="{{ asset('build/css/main.css') }}" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <div class="container justify-content-between">
            <a href="#" class="mx-auto navbar-brand">LightningSale</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse navbarCollapse pull-right">
                <ul class="navbar-nav mr-auto">
                    {% if app.user %}
                    <li class="nav-item"><a href="{{ path('login_out') }}" class="nav-link">
                            <i class="fa fa-sign-out"></i> Sign out</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('cashier_dashboard_index') }}" class="nav-link">
                            <i class="fa fa-home"></i> Dashboard
                        </a>
                    </li>
                    <li class="nav-item"><a href="{{ path('info_index') }}" class="nav-link"><i class="fa fa-info"></i> Info</a></li>
                    <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-user"></i> Profile</a></li>
                    {% if app.user is Merchant %}
                        <li class="nav-item"><a href="{{ path('settings_index') }}" class="nav-link"><i class="fa fa-cog"></i> Settings</a></li>
                        <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-users"></i> Users</a></li>
                    {% endif %}
                </ul>
                {% endif %}
        </div>
    </div>
    </nav>


    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="container">
                <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                    {{ message }}

                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        {% endfor %}
    {% endfor %}
    {% block body %}{% endblock %}
<br><br>
    {% block modals %}{% endblock %}
    <script src="{{ asset('build/js/main.js') }}"></script>
    {% block javascripts %}{% endblock %}
    </body>
</html>
