{% extends 'base.html.twig' %}

{% block body %}
    <div class="container ">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-8">
                {{ form_start(form) }}

                <div class="form-group row">
                    {{ form_label(form.children.amount) }}
                    <div class="col-sm-10">
                        <div class="input-group input-group-lg">
                            {{ form_widget(form.children.amount, {'attr': {'class': 'form-control-lg'}}) }}
                            <div class="input-group-append">
                                <div class="input-group-text">{{ currencySymbol() }}</div>
                            </div>
                        </div>
                    </div>
                </div>

                {{ form_end(form) }}
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <table class="table" style="table-layout: fixed; width: 100%;">
            <thead class="table-dark">
            <tr>
                <th>Date</th>
                <th>Amount</th>
                <th>Status</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for invoice in invoices %}
                <tr>
                    <td>{{ invoice.creationDate|date("d.m.Y H:i") }}</td>
                    <td>{{ invoice.value|formatSatoshi }}</td>
                    <td>
                        {% if invoice.settled %}Paid
                        {% elseif invoice.expired %}Expired <small>{{ invoice.expiry|date("d.m.Y H:i") }}</small>
                        {% else %}Waiting
                        {% endif %}
                    </td>
                    <td>
                        <a href="#">{% if loop.first %}Hide{% else %}Show{% endif %}</a>
                        <a class="disabled" href="#" onclick="alert('Not available yet')" data-href="{{ path('invoice_details_index', {'rHash': invoice.rHash}) }}" aria-disabled="true">Details</a>
                        <a href="#">{% if loop.first %}{% else %}Refund{% endif %}</a>
                    </td>
                </tr>
                {% if loop.first %}
                    <tr>
                        <td>
                            <img style="width: 100%" src='{{ path('cashier_dashboard_app_dashboard_createqrcode', {'message': 'lightning:' ~ invoice.paymentRequest}) }}' alt='LightningCode'>
                        </td>
                        <td style="word-break: break-all; display: inline-block;">
                            lightning:{{ invoice.paymentRequest }}
                        </td>
                        <td>Description: {{ invoice.memo }}</td>
                        <td></td>
                    </tr>
                {% endif %}
            {% else %}
                <tr>
                    <td colspan="4" class="text-center text-success"><h3>No unpaid / unexpired invoices found!</h3></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}