{% extends 'base.html.twig' %}

{% block body %}
    <div class="container ">
        <div class="row justify-content-center align-items-center">
            <div class="col-8">
                {{ form(form) }}
            </div>
        </div>
    </div>
    <br><br><br>

    <div class="container">
        <table class="table" style="table-layout: fixed; width: 100%;">
            <thead class="table-dark">
            <tr>
                <th>Date</th>
                <th>Amount</th>
                <th>Status</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for invoice in invoices %}
                <tr>
                    <td>{{ invoice.creationDate|date("d.m.Y H:i") }}</td>
                    <td>{{ (invoice.value  / 100000)|round(2) }} <small>mBTC</small></td>
                    <td>{{ invoice.settled ? 'Paid' : 'Waiting' }}</td>
                    <td>
                        <a href="#">{% if loop.first %}Hide{% else %}Show{% endif %}</a>
                        <a href="{{ path('invoice_details_index', {'rHash': invoice.rHash}) }}">Details</a>
                        <a href="#">{% if loop.first %}{% else %}Refund{% endif %}</a>
                    </td>
                </tr>
                {% if loop.first %}
                    <tr>
                        <td>
                            <img src='{{ qrcode_path('lightning:' ~ invoice.paymentRequest, {'size': 150, 'margin': 0}) }}'
                                 alt='LightningCode'>
                        </td>
                        <td style="word-break: break-all; display: inline-block;">
                            lightning:{{ invoice.paymentRequest }}
                        </td>
                        <td>Description: {{ invoice.memo }}</td>
                        <td></td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}