{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

    <div class="card">
        <div class="card-header">Transactions</div>
        <table class="table" style="table-layout: fixed; width: 100%;">
            <thead class="table-dark">
            <tbody>
            {% for transaction in transactions|reverse %}
                <tr>
                    <td>{{ transaction.timeStamp|date("d.m.Y H:i") }}</td>
                    <td class="{{ transaction.amount > 0 ? 'text-success' : 'text-danger' }}">{{ transaction.amount|formatSatoshi }} <small>mBTC</small></td>
                    <td>
                        {% if transaction.numConfirmations >= 6 %}Confirmed
                        {% else %}Pending <small>{{ transaction.numConfirmations }} confirmations</small>
                        {% endif %}
                    </td>
                    <td style="display: inline-block; word-break: break-all">
                        <a target="_blank" href="{{ path('cashier_dashboard_explorer', {"txId": transaction.txHash}) }}">{{ transaction.txHash }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
{% endblock %}